name: New Release
run-name: "New Release: ${{ inputs.bump }}"

on:
  workflow_dispatch:
    inputs:
      bump:
        type: choice
        description: Release version to create
        required: true
        default: patch
        options:
        - patch
        - minor
        - major

jobs:
  create:
    permissions:
      contents: write
      actions: write
    uses: preetham-ganesh/release-branching/.github/workflows/new_release.yaml@v1.0.0
    with:
      bump: ${{ inputs.bump }}
    secrets: inherit 
